 <div class="container mt-5">
     <h3>Formulario</h3>
     <div class="form-group mt-5">
         <label for="my-input">Nombre</label>
         <input  class="form-control" type="text" [value]="defaultName">
     </div>
     <div class="form-group">
        <label for="my-input"> {{ user }} </label>
        <input [(ngModel)]="user" class="form-control" type="text" >
    </div>
    <div class="form-group">
        <label for="my-input">Email</label>
        <input #email class="form-control" type="email" >
    </div>    
    
    <button class="btn btn-primary" (click)="onSendForm(email.value)">Submit</button>
    <hr>
    <button class="btn btn-warning" (click)="onDefaultForm()">Default Form</button>

    <p mt-5> {{ status }} </p>

    <div *ngIf="displayPassword; then showPassword; else hidePassword">
    </div>
    <ng-template #showPassword>
        <p>1234567890</p>
    </ng-template>
    <ng-template #hidePassword>
        <p>Contraseña Oculta</p>
    </ng-template>
    <button class="btn btn-danger" (click)="onShowPassword()">Show Password</button>
    
    <ng-template [ngSwitch]="lightStatus">
        <div *ngSwitchCase="'green'">Verde</div>
        <div *ngSwitchCase="'yellow'">Amarillo</div>
        <div *ngSwitchCase="'red'">Rojo</div>
        <div *ngSwitchDefault>Don'w work</div>
        

    </ng-template>

</div>  