 <div class="container mt-5">
     <h3>Formulario</h3>
     <div class="form-group mt-5">
         <label for="my-input">Nombre</label>
         <input  class="form-control" type="text" [value]="defaultName">
     </div>
     <div class="form-group">
        <label for="my-input"> {{ user }} </label>
        <input [(ngModel)]="user" class="form-control" type="text" >
    </div>
    <div class="form-group">
        <label for="my-input">Email</label>
        <input #email class="form-control" type="email" >
    </div>    
    
    <button class="btn btn-primary" (click)="onSendForm(email.value)">Submit</button>
    <hr>
    <button class="btn btn-warning" (click)="onDefaultForm()">Default Form</button>

    <p> {{ status }} </p>
</div>  